# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Storybook
storybook-static

# Figma: https://www.figma.com/file/OKg7amIEpPakxiNd3bUtPp/Ignite-Lab-Design-System?node-id=0%3A1
# Storybook Docs: https://rafamoliv.github.io/labs-ds/
